#carousel {
  align-self: center;
  position: relative;
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.slide {
  display: none;
}

img {
  width: 720px;
  height: 720px;
}


.btn {
  position: absolute;
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  background-color: #000000;
  opacity: 0.3;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px
}

.next {
  left: 668px;
  border-radius: 3px 0 0 3px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

div.dots {
  max-width: 720px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.dot {
  padding: 15px 15px;
}